<ul class="nav justify-content-center navbar-dark bg-dark">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tasks">Tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/add">New Task</a>
  </li>
  </ul>